/* style.css */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 20px;
    text-align: center;
}

#app {
    max-width: 600px;
    margin: auto;
}

form {
    background-color: #fdf5e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ee5a47;
}

#output {
    margin-top: 20px;
}

#recipeOutput {
    font-weight: bold;
    color: #333;
    padding: 10px;
    border: 2px solid #333;
    background-color: #ffe4b5;
    border-radius: 5px;
}

.side-img{
    position: fixed;
    width: 25%;
    height: 50%;
    /* top: 1%; */
    /* bottom: 5%; */
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: .5%;
}

#cornImg{
    left: 0;
    top: 1%;
}

#medleyImg{
    right: 0;
    top: 1%;
}

#jerkImg {
    left: 0;
    bottom: 0;
    padding-top: 1.5%;
}

#meatzImg {
    right: 0;
    bottom: 0;
    padding-top: 1.5%;
}